{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<a class="btn btn-lg btn-primary"  role="button" data-toggle="modal"
             data-target="#createMsg" style="margin-bottom:15px;">Add message</a>

<div class="modal fade" tabindex="-1" role="dialog" id="createMsg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add message</h4>
      </div>
      <div class="modal-body">
          <form method="POST" action="#" enctype="multipart/form-data">{% csrf_token %}
            <div> text<input type="text" name="text" id="textForm" class="form-control" required></div>
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">back</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Send" onclick="addMsg()" data-dismiss="modal"/>
                       </div>
          </form>
      </div>
      </div>

    </div><!-- /.modal-content -->
  </div>

<p id="getUserId" hidden>{{ request.user.id }}</p>
{% for msg in msgs %}

<p style="color:blue;"><button id="col{{ msg.id }}" onclick="showComment({{ msg.id }})">Expand</button>{{ msg.date|date:"d m Y" }}   {{ msg.text }}
<a class="btn btn-lg btn-primary"  role="button" data-toggle="modal"
             data-target="#createCom" style="margin-bottom:15px;">Add comment</a>
</p>

<div class="modal fade" tabindex="-1" role="dialog" id="createCom">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add comment</h4>
      </div>
      <div class="modal-body">
          <form method="POST" action="#" enctype="multipart/form-data">{% csrf_token %}
            <div> text<input type="text" name="text" id="textForm" class="form-control" required></div>
                    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">back</button>
        <input class="btn btn-md btn-info" role="button" type="submit" value="Send" onclick="addComment()" data-dismiss="modal"/>
                       </div>
          </form>
      </div>
      </div>

    </div><!-- /.modal-content -->
  </div>



<div id="inside{{msg.id }}"></div>
{% endfor %}






{% endblock content %}
